*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a,
button {
  transition: all .2s ease;
  text-decoration: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  max-width: min(90%, 2480px);
  margin: 0 auto;
}

body {
  font-size: 18px;
  font-family: 'Montserrat';
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  main {
    flex-grow: 1;
  }
}

.background {
  display: grid;
  place-items: center;
  background-image: url('/assets/images/backgroundImg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  position: relative;
  color: #fff;
  font-weight: 700;
}

.heading {
  display: flex;
}

.name-heading {
  font-size: 191.179px;
  text-transform: uppercase;
}

.specialisation {
  font-size: 44.205px;
}

.year {
  display: inline-block;
  font-size: 55.993px;
  transform: rotate(90deg);
  margin-left: -105px;
}

.fullName {
  position: absolute;
  bottom: 38px;
  left: 60px;
  font-size: 44.205px;
}

.main-profile {
  display: grid;
  grid-template-columns: 35% auto;
  gap: 2.44rem;
  padding: 2.5rem 0;
  align-items: stretch; //вирівнює по висоті
}

.image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    pointer-events: none;
  }

}

.main-text {
  font-size: clamp(1.5rem, 3vw, 2.25rem);
  text-align: justify;
  height: 100%;
  overflow-y: auto;

  p:not(:last-child) {
    padding-bottom: 3.125rem;
  }
}

.universal-box {
  border: 1px solid #9A9A9A;
  border-radius: 18px;
  padding: 1rem;
}

legend {
  font-size: 36px;
  font-weight: 700;
  padding: 0 1rem;
  margin-left: 3rem;
}

.icon {
  width: 4.8125rem;
  height: 4.8125rem;
}

.flex-box-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.skills {
  font-size: 1.75rem;
  line-height: 161.9%;
  text-align: justify;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  ;
  gap: 2.38rem;
}

.project-card {  
  perspective: 1000px;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: transparent;
  border-radius: 1rem;
  overflow: hidden;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1.562rem;
}

.project-card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: inherit;
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.card-back {
  background-color: #2980b9;
  color: white;
  font-size: 1.75rem;
  padding: 1rem;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}